.logout {
    z-index: 6;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 40vh;
    bottom: 0;
    text-align: center;
    width: 15rem;
    height: 6rem;
    background-color: gray;
    border-radius: .3rem;

    .logout--container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .logout--head {
            display: flex;
            position: relative;
            align-items: flex-start;
            justify-content: center;
            padding-top: .2rem;

            .title {
                cursor: default;
            }
        }

        .logout--body {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 0 .5rem .8rem .5rem;
            height: 100%;
            gap: 1rem;

            button {
                height: 2rem;
                min-width: 6rem;
                text-decoration: none;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                border: none;
                cursor: pointer;
            }

            button:hover {
                background-color: wheat;
            }
        }
    }
}